*,*::before,*::after{
    /* outline: 1px solid; */
    box-sizing: border-box;
}

:root {
    --primary: #aa0601;
    --white: #ffffff;
    --black: #000000;
}

a{
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.fs-5{
    font-size: 20px;
} 

.text-center{
    text-align: center;
}

.text-white{
    color: var(--white);
}

.d-flex{
    display: flex;
}

.d-block{
    display: block;
}

.justify-between{
    justify-content: space-between;
}

.item-center{
    align-items: center;
}

.py-6{
    padding-top: 24px;
    padding-bottom: 24px;
}

.gap-16{
    gap: 64px;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
}


.header{
    background-color: var(--primary);
}


/* @media (max-width:767px) {
    .container{
        max-width: 720px;
    }
} */


@media (max-width: 376px) {
    .flex-md-column{
        flex-direction: column;
    }

    .flex-md-start{
        justify-content: start;
    }

    .item-md-center{
        align-items: center;
    }

    .flex-md-wrap{
        flex-wrap: wrap;
    }

    .gap-md-0{
        gap: 0;
    }

    .py-md-0{
        padding-top: 0;
        padding-bottom: 0;    
    }
    .py-md-3{
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .w-md-100{
        width: 100%;
    }

    .w-md-50{
        width: 50%;
    }

    .border-md{
        border-style:solid;
    }
    .border-md-1{
        border-width: 1px;
    }
    .border-md-white{
        border-color: white;
    }

}