*,*::before,*::after{
    /* outline: 1px solid; */
    box-sizing: border-box;
}

:root {
    --primary: #aa0601;
    --white: #ffffff;
    --black: #000000;
}

body{
    font-family: "Roboto","Noto Sans TC", sans-serif;
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.fs-5{
    font-size: 20px;
} 

.fs-9{
    font-size: 36px;
} 

.fs-16{
    font-size: 64px;
} 

.text-center{
    text-align: center;
}

.text-white{
    color: var(--white);
}

.d-flex{
    display: flex;
}

.d-block{
    display: block;
}

.flex-column{
    flex-direction: column;
}

.justify-between{
    justify-content: space-between;
}

.item-center{
    align-items: center;
}

.item-end{
    align-items: end;
}


.py-6{
    padding-top: 24px;
    padding-bottom: 24px;
}

.py-74{
    padding-top: 296px;
    padding-bottom: 296px;
}

.mt-1{
    margin-top: 4px;
}

.gap-16{
    gap: 64px;
}


.btn{
    padding: 6px 12px;
    background-color: var(--primary);
}

.container{
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}


.header{
    background-color: var(--primary);
}

.banner{
    background-image: url(./img/home-header.png);
    background-size: cover;
    background-position: 30% 70%;
}


@media (max-width:767px) {
    .container{
        max-width: 720px;
    }
    
    .banner{
        background-image: url(./img/home-header-sm.png);
    }

}


@media (max-width: 376px) {
    .px-md-0{
        padding-left: 0;
        padding-right: 0;
    }

    .flex-md-column{
        flex-direction: column;
    }

    .flex-md-start{
        justify-content: start;
    }

    .item-md-center{
        align-items: center;
    }

    .flex-md-wrap{
        flex-wrap: wrap;
    }

    .fs-md-4{
        font-size: 16px;
    }

    .fs-md-5{
        font-size: 20px;
    }

    .fs-md-6{
        font-size: 24px;
    }

    .gap-md-0{
        gap: 0;
    }

    .py-md-0{
        padding-top: 0;
        padding-bottom: 0;    
    }
    .py-md-3{
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .ml-md-4{
        margin-left: 16px;
    }

    .w-md-100{
        width: 100%;
    }

    .w-md-50{
        width: 50%;
    }

    .border-md{
        border-style:solid;
    }
    .border-md-1{
        border-width: 1px;
    }
    .border-md-white{
        border-color: white;
    }


    
}